# Database
DB_USER=philip
DB_PASS=1234
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vector_db
# DB_CONNECTION_STRING=postgresql://philip:1234@localhost:5432/vector_db

# Model + chunking
MODEL_NAME=minishlab/potion-multilingual-128M
CHUNK_SIZE=190
CHUNK_OVERLAP=50
TOP_K_CHUNKS=5
